<?xml version="1.0" encoding="UTF-8" ?><theDavidBox><request><arg0>list_devices</arg0><module>system</module></request><response><device><accessPath>USB_DRIVE</accessPath><name>USB_DRIVE</name><type>usb</type></device><device><accessPath>USB_DRIVE_B-2</accessPath><name>LG_Portable</name><type>usb</type></device><device><accessPath>USB_DRIVE_B-5</accessPath><name>wbfs1</name><type>usb</type></device></response><returnValue>0</returnValue></theDavidBox>